
header {
  color: white;
  background: black;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

header a {
  color: inherit;
  text-decoration: none;
}

header .logo {
  max-width: 3.75rem;
}

.logo img {
  max-width: 100%;
}

header search input {
  background-color: transparent;
  color: #444447;
  outline: none;
  border: 1px solid;
  padding: 0.25rem;
}

.header-left, .header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-right {
  justify-content: end;
}

